.page {
	margin: 0 auto;
	padding-top: 20px;
    position: relative;
    text-align: left;
    width: 950px;
}

    .page .leftColumn {
        float: left;
        margin: 0 1% 0 0;
        position: relative;
        width: 79%;
    }

    .page .rightColumn {
        float: left;
        position: relative;
        width: 20%;
    }

	.page .head {
	}
	
		.page .head .content {
			padding: 20px 0 10px 20px;
		}
		.page .head .menu{
		    background-color: #FFFFFF;
            height: 52px;
		}
		
			.page .head .menu ul.items {
				  color: #808080;
			      font: 14px/24px Arial,Helvetica,sans-serif;
			}
				.page .head .menu ul.items > li{
					padding: 1em 2em;	
				}
				
		.page .head .search {
			 background-color: #FFFFFF;
			 height: 52px;
		}
			.page .head .search div.filedContainer {
				border: 1px solid #DCDCDC;
				height: 30px;
				margin: 10px;
				position: relative;
			}
			
			.page .head .search input.term {
				border: none;
				height: 100%;
			}
			
			.page .head .search input.buttonSearch {
				background: url("../assets/css/search-button.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
				border: medium none;
				cursor: pointer;
			    height: 22px;
			    position: absolute;
			    right: 2px;
			    top: 4px;
			    width: 22px;
			}

    .page .content {
    	
    }

        .page .content .bestOffer {
            background-color: #FFFFFF;
        }
            .page .content .bestOffer .imageWrapper{
               height: 420px;
			    overflow-y: hidden;
			    padding: 10px;
			    text-align: center;
            }
            .page .content .bestOffer .caption{
                float: right;
                padding: 1em 0;
                margin-right: 10%;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                width: 50%;
            }
                .page .content .bestOffer .caption span.captionText{
                    color: #3797C1;
                }
                .page .content .bestOffer .caption span.verticalSpacer{
                    background-color: #F9F7F4;
                    height: 100%;
                    width: 1px;
                }
                .page .content .bestOffer .caption span.cost{
                    color: #FF535F;
                }

        .page .content .geoMenu{
            background-color: #F9F7F4;
            height: 420px;
        }

            .page .content .geoMenu div.wrapper {
                margin: 10px;
            }

            .page .content .geoMenu ul{
                color: #7E7E7E;;
                list-style: none;
            }

                .page .content .geoMenu ul > li:first-child{
                    border: none;
                }
                .page .content .geoMenu ul > li {
                    background: url("../assets/css/marker-rigth.png") no-repeat scroll right center rgba(0, 0, 0, 0);
                    border-top: 1px solid #D8D8D8;
                    padding: 5px 2px;
                    position: relative;
                    text-transform: uppercase;
                }

        .page .content .title {
            background-color: #FFFFFF;
            text-transform: uppercase;
        }
        
        .page .content .topItems {}
        	.page .content .topItems div.row{
        		padding: 1em 0;
        		margin-bottom: 10px;
        	}
        		.page .content .topItems div.row .item {
        			float: left;
				    margin: 0 2%;
				    position: relative;
				    text-align: center;
				    width: 32%;
        		}
        		.page .content .topItems div.row div.item:first-child {
        			margin: 0;
        		}
        		.page .content .topItems div.row div.item:last-child {
        			margin: 0;
        		}
        
        .page .content .item {
        	background-color: #FFFFFF;
        }
        	.page .content .item div.wrapper {
        		margin: 10px;
        	}
        	
        	 .page .content .item .name{
        	 	color: #59BDD8;
        	 	font-size: 16px;
        	 	font-weight: bold;
        	 	line-height: 20px;
        	 }
        	 
        	 .page .content .item .cost{
        	 	color: #FE5252;
        	 	font-size: 16px;
        	 	font-weight: bold;
        	 	padding: 8px 0;
        	 }
        	 
        	 .page .content .item .buttonWrapper{
        	 	margin: 16px 0;
        	 }
        	 
        	 .page .content .item .more{
        	 	background-color: #7E7E7E;
        	 	border-radius: 4px;
        	 	color: #FFFFFF;
        	 	padding: 4px 8px;
        	 	width: 40%;
        	 }
        	
	.page .profile {
		background-color: #FFFFFF;	
		padding-bottom: 10px;
		text-align: center;
	}
	
	.page .footer {
		background-color: #FFFFFF;
        margin-bottom: 1em;
	}
        .page .footer .wrapper{
            padding: 1em;
        }

        .page .footer .delimeter {
            border-top: 1px solid #D8D8D8;
            height: 10px;
        }

        .page .footer .bottomMenu {

        }
            .page .footer .bottomMenu > li:first-child {
                padding-left: 0;
            }
            .page .footer .bottomMenu > li {
                padding: 0 1em 1em;
            }
